<nav class="demoNav">
  <ul>
    <li><a [routerLink]="['/home']" [routerLinkActive]="['active']">Home</a></li>
    <li><a [routerLink]="['/locomotivedemo']" [routerLinkActive]="['active']">Locomotive scroll</a></li>
    <li><a [routerLink]="['/scrollreaveldemo']" [routerLinkActive]="['active']">Scroll reveal</a></li>
    <li><a [routerLink]="['/gsapdemo']" [routerLinkActive]="['active']">Gsap demo</a></li>
    <li><a [routerLink]="['/aosdemo']" [routerLinkActive]="['active']">AOS demo</a></li>
    <li><a [routerLink]="['/animedemo']" [routerLinkActive]="['active']">AnimeJS demo</a></li>
    <!-- <li><a [routerLink]="['']" [routerLinkActive]="['active']"></a></li> -->
  </ul>
</nav>
