<app-demo-nav></app-demo-nav>
<div class="container">
  <p class="test1">anime-demo works!</p>
  <hr>
  <h2 class="splitTextAnimeTest">SplitType.js Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</h2>
  <hr>
  <h2 class="splittingAnimeTest">Splitting.js Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</h2>
  <hr>
  <div class="testSVG1">
    <svg viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
      <linearGradient id="linearGradientId" x1="100%" y1="100%">
        <stop offset="0%" stop-color="#f6d365">
          <animate attributeName="stop-color" values="#f6d365; #d4fc79; #d299c2; #96fbc4; #abecd6; #0fd850; #f6d365" dur="24s" repeatCount="indefinite" />
        </stop>
        <stop offset="100%" stop-color="#fda085">
          <animate attributeName="stop-color" values="#fda085; #96e6a1; #fef9d7; #f9f586; #fbed96; #f9f047; #fda085" dur="24s" repeatCount="indefinite" />
        </stop>
      </linearGradient>
      <path fill="url(#linearGradientId)" d="M55.6,-24.6C60.8,-2,46,20.5,26.7,33.7C7.4,47,-16.3,51.1,-32.9,40.2C-49.5,29.4,-59,3.6,-52.3,-21.1C-45.6,-45.7,-22.8,-69.1,1.2,-69.5C25.2,-69.9,50.4,-47.2,55.6,-24.6Z" transform="translate(100 100)" />
    </svg>
  </div>
  <hr>
</div>


