<div class="flex-container">
  <div class="inner">
    <h1 class="heading-1">
      Hello. I’m Samuel Siau.<br>I design and build beautiful websites, products and design systems that help people and make a difference.
      <span class="subheading">Portfolio website WIP.</span>
    </h1>
    <!-- <ul class="socialmedia-groups">
      <li class="socialmedia-item"><a href="https://www.linkedin.com/in/samuel-siau-59944120/" target="_blank"><svg class="icon"><use href="#icon-logo-linkedin"/></svg></a></li>
      <li class="socialmedia-item"><a href="https://dribbble.com/samuelsiau" target="_blank"><svg class="icon"><use href="#icon-logo-dribbble"/></svg></a></li>
      <li class="socialmedia-item"><a href="https://www.behance.net/samuelsiau43ef" target="_blank"><svg class="icon"><use href="#icon-logo-behance"/></svg></a></li>
      <li class="socialmedia-item"><a href="mailto:samuelsiau@gmail.com">samuelsiau@gmail.com</a></li>
    </ul> -->
    <p class="smalltitle">
      Feel free to reach out for collaborations or just a friendly hello <img draggable="false" src="https://s.w.org/images/core/emoji/11/svg/1f600.svg" alt="">
    </p>
    <ul class="socialmedia-groups">
      <li class="socialmedia-item"><a href="mailto:samuelsiau@gmail.com" target="_blank"><svg class="icon"><use href="#icon-email"/></svg></a></li>
      <li class="socialmedia-item"><a href="https://www.linkedin.com/in/samuel-siau-59944120/" target="_blank"><svg class="icon"><use href="#icon-logo-linkedin"/></svg></a></li>
      <li class="socialmedia-item"><a href="https://dribbble.com/samuelsiau" target="_blank"><svg class="icon"><use href="#icon-logo-dribbble"/></svg></a></li>
      <li class="socialmedia-item"><a href="https://www.behance.net/samuelsiau43ef" target="_blank"><svg class="icon"><use href="#icon-logo-behance"/></svg></a></li>
    </ul>
  </div>
</div>
<router-outlet></router-outlet>
