<app-demo-nav></app-demo-nav>
<div class="container">
  <div>
    <div style="height: 600px; background-color: black;"></div>
    <div [ngsReveal]="{delay: 1000, reset: true, distance: '20px', origin: 'bottom'}" style="background-color: yellow;; height: 200px">scrollreveal-demo works!</div>
    <div style="height: 1000px; background-color: black;"></div>
    <div class="itemset" [ngsRevealSet]="{delay: 1000, reset: true, distance: '20px', origin: 'bottom'}" [ngsInterval]="50" [ngsSelector]="'.item'">
      <div class="item item1" style="background-color: yellow;">Item 1</div>
      <div class="item item2" style="background-color: yellow;">Item 2</div>
      <div class="item item3" style="background-color: yellow;">Item 3</div>
      <div class="item item4" style="background-color: yellow;">Item 4</div>
      <div class="item5" style="background-color: yellowgreen;">Item 5 (will not be animated)</div>
    </div>
    <div style="height: 1000px; background-color: black;"></div>
  </div>
</div>

