<app-demo-nav></app-demo-nav>
<div class="container">
  <div style="height: 600px; background-color: teal;"></div>
  <div data-aos="fade-up" style="height:300px; width:300px; background-color: black;"></div>
  <div style="height: 600px; background-color:rosybrown;"></div>
  <div data-aos="fade-in" style="height:300px; width:300px; background-color: black;"></div>
  <div style="height: 600px; background-color:lightseagreen;"></div>
  <div data-aos style="height:300px; width:300px; background-color: black;"></div>
</div>
