/* You can add global styles to this file, and also import other style files */

@import 'scss/fonts';
// @import 'scss/bootstrap/bootstrap-reboot.scss';
@import 'scss/variable';
@import 'scss/normalize';
@import 'scss/icons';

:root {
  --black: $black;
  --font-heading: 'Larsseit',"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
  --font-body: 'Inter',"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
  --fill: #000;
  --time: 30000ms;
  --amount: 2;
}

@import 'scss/blob';

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: sans-serif;
  -webkit-tap-highlight-color: rgba(#FFF, 0);
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block;
}


[tabindex="-1"]:focus {
  outline: 0 !important;
}

body {
  margin: 0;
  font-size: 1.6rem;
  font-family: $font-family-base;
  font-weight: $font-weight-base;
  line-height: $line-height-base;
  color: $body-color;
  background-color: $body-bg;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  letter-spacing: -0.1rem;
}

h1, h2, h3, h4, h5, h6, p {
  margin-top: 0;
  margin-bottom: 0;
}

.outerContainer {
  position: relative;
  overflow: hidden;
}

.inner {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  z-index: 1;
}

.inner__content {
  max-width: 1216px+24px+24px;
  padding-left: 24px;
  padding-right: 24px;
  margin: 0 auto;
}

.blobCenter {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform: scale(0.75);

  .tk-blob {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}


.heading-1 {
  font-family: var(--font-heading);
  font-weight: $font-weight-bold;
  font-size: 2.4rem;
  line-height: 1.3333;
  text-align: center;

  @media screen and (min-width: 768px) {
    font-size: 4rem;
    line-height: 1.4;
    letter-spacing: -0.2rem;
  }
  @media screen and (min-width: 992px) {
    font-size: 5.6rem;
    line-height: 1.4285;
  }
  @media screen and (min-width: 1200px) {
    font-size: 7.2rem;
    line-height: 1.3333333;
    letter-spacing: -0.3rem;
  }
}

.subheading {
  display: block;
  color: #42464b;
  font-weight: $font-weight-base;
}

.smalltitle {
  padding-top: 1.6rem;
  text-align: center;

  img {
    margin-right: 0.4rem;
    width: 1.6rem;
    height: 1.6rem;
    display: inline-block;
    vertical-align: -0.2rem;
  }

  a {
    display: inline-block;
    color: $black;
    text-decoration: none;

    &:hover {
      color: $black;
      text-decoration: underline;
    }
  }
}

.socialmedia-groups {
  list-style: none;
  padding: 1.2rem 0 0 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.socialmedia-item {
  margin: 0;
  padding: 0 1.2rem 0 1.2rem;

  a {
    display: block;
    color: $black;
    text-decoration: none;

    &:hover {
      color: $black;
    }
  }
}



.container {
  max-width: 800px;
  margin: 0 auto;
}


.scrollopacity {
  opacity: 0;
  transition: opacity 0.5s ease;
  &.is-inview {
    opacity: 1;
  }
}
