/* You can add global styles to this file, and also import other style files */

@import 'scss/fonts';
// @import 'scss/bootstrap/bootstrap-reboot.scss';

@import 'scss/variable';
@import 'scss/normalize';
@import 'scss/icons';

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(#FFF, 0);
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block;
}


html,
body {
  height: 100%;
}


[tabindex="-1"]:focus {
  outline: 0 !important;
}

body {
  margin: 0;
  font-size: 1.6rem;
  font-family: $font-family-base;
  font-weight: $font-weight-base;
  line-height: $line-height-base;
  color: $body-color;
  background-color: $body-bg;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba($black, 0);
}

h1, h2, h3, h4, h5, h6, p {
  margin-top: 0;
  margin-bottom: 0;
}

.flex-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: stretch;
  align-items: center;
  height: 100%;
}

.inner {
  order: 0;
  flex: 0 1 auto;
  align-self: center;
  max-width: 1216px+24px+24px;
  padding-left: 24px;
  padding-right: 24px;
}

.heading-1 {
  font-weight: $font-weight-bold;
  font-size: 2.4rem;
  line-height: 1.3333;

  @media screen and (min-width: 768px) {
    font-size: 4rem;
    line-height: 1.4;
  }
  @media screen and (min-width: 992px) {
    font-size: 5.6rem;
    line-height: 1.4285;
  }
}

.subheading {
  display: block;
  color: #42464b;
  font-weight: $font-weight-base;
  @media screen and (min-width: 768px) {
    display: inline;
  }
}

.smalltitle {
  padding-top: 1.6rem;
  color: #61666a;

  img {
    margin-right: 0.4rem;
    width: 1.6rem;
    height: 1.6rem;
    display: inline-block;
    vertical-align: -0.2rem;
  }

  a {
    display: inline-block;
    color: $black;
    text-decoration: none;

    &:hover {
      color: $black;
      text-decoration: underline;
    }
  }
}

.socialmedia-groups {
  list-style: none;
  padding: 1.2rem 0 0 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

.socialmedia-item {
  margin: 0;
  padding: 0 2.4rem 0 0;

  a {
    color: $black;
    text-decoration: none;

    &:hover {
      color: $black;
    }
  }
}
