<div class="outerContainer">
  <div class="inner">
    <div class="inner__content">
      <h1 class="heading-1">
        Hello. I’m Samuel Siau.<br>I design and build beautiful websites, products and design systems that help people and make a difference.
        <span class="subheading">Portfolio website WIP.</span>
      </h1>
      <p class="smalltitle">Feel free to reach out for collaborations or just a friendly hello.</p>
      <ul class="socialmedia-groups">
        <li class="socialmedia-item"><a href="mailto:samuelsiau@gmail.com" target="_blank"><svg class="icon"><use href="#icon-email"/></svg></a></li>
        <li class="socialmedia-item"><a href="https://www.linkedin.com/in/samuel-siau-59944120/" target="_blank"><svg class="icon"><use href="#icon-logo-linkedin"/></svg></a></li>
        <li class="socialmedia-item"><a href="https://dribbble.com/samuelsiau" target="_blank"><svg class="icon"><use href="#icon-logo-dribbble"/></svg></a></li>
        <li class="socialmedia-item"><a href="https://www.behance.net/samuelsiau43ef" target="_blank"><svg class="icon"><use href="#icon-logo-behance"/></svg></a></li>
      </ul>
    </div>
  </div>
  <div class="blobCenter">
    <div class="tk-blob" style="--fill: #F3F744;">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 341.4 374.7">
        <path d="M309.9 70.6c37.8 52.7 39.8 128.7 15.4 184.1-24.3 55.4-75 90.1-125.4 107.4-50.4 17.4-100.4 17.4-136.2-3.3-35.7-20.7-57.2-62-62.4-102.1-5.2-40.2 5.8-79 29.1-128.3C53.6 79.1 89.1 19.3 143.7 4.1 198.3-11.2 272 18 309.9 70.6z"></path>
      </svg>
    </div>
  </div>
</div>
